*{/*Codigos universales de css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    background: rgb(243, 176, 215);
}

.slider{
    width: 1000px;
    overflow: hidden;
}
.slider ul{
    list-style: none;
    width: 2850px;
    display: flex;
    animation: slide 15s infinite alternate;
}
@keyframes slide{
    0%{margin-left: 0px;}
    20%{margin-left: 0px;}

    30%{margin-left: -1000px;}
    40%{margin-left: -1000px;}

    50%{margin-left: -2000px;}
    70%{margin-left: -2000px;}

    80%{margin-left: -3000px;}
    100%{margin-left: -3000px;}
}